/* Global Style*/

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-verdeMain: #006633;
  --color-azulMain: #003366;
  --color-brancoMain: #F6F6ED
}

:root {
  background-color: #F6F6ED;
  color: #1A1A1A;
}